$linkedin-palette: (
  50 : #e2edf8,
  100 : #b6d1ed,
  200 : #85b3e1,
  300 : #5494d4,
  400 : #2f7dcb,
  500 : #0a66c2,
  600 : #095ebc,
  700 : #0753b4,
  800 : #0549ac,
  900 : #03389f,
  A100 : #c9d8ff,
  A200 : #96b3ff,
  A400 : #638eff,
  A700 : #4a7bff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);
